In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("produtos.csv",sep=";")

In [8]:
df.head()

,Unnamed: 0,nome,preco,parcela
0,0,Carregador USB-C de 20W Apple Branco Original ...,"R$ 149,99","6x de R$ 27,77"
1,1,"Smartphone Samsung Galaxy A55, 5G, 128GB, 8GB ...","R$ 1.799,10","10x de R$ 197,70"
2,2,"Apple iPhone 15 128GB, Quadriband, 6,1"", Câme...","R$ 4.449,00","10x de R$ 488,90"
3,3,"Smartphone Samsung Galaxy A15, 128GB, 4GB RAM,...","R$ 836,10","10x de R$ 91,87"
4,4,Smartphone Samsung Galaxy A06 128GB - Azul Esc...,"R$ 699,30","10x de R$ 76,84"

In [11]:
df.shape

(10000, 4)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10000 non-null  int64
 1   nome        10000 non-null  object
 2   preco       10000 non-null  object
 3   parcela     10000 non-null  object
dtypes: int64(1), object(3)
memory usage: 312.6+ KB

In [20]:
df = df[['nome','preco','parcela']]

In [21]:
display(df)

,nome,preco,parcela
0,Carregador USB-C de 20W Apple Branco Original ...,"R$ 149,99","6x de R$ 27,77"
1,"Smartphone Samsung Galaxy A55, 5G, 128GB, 8GB ...","R$ 1.799,10","10x de R$ 197,70"
2,"Apple iPhone 15 128GB, Quadriband, 6,1"", Câme...","R$ 4.449,00","10x de R$ 488,90"
3,"Smartphone Samsung Galaxy A15, 128GB, 4GB RAM,...","R$ 836,10","10x de R$ 91,87"
4,Smartphone Samsung Galaxy A06 128GB - Azul Esc...,"R$ 699,30","10x de R$ 76,84"
...,...,...,...
9995,Kit Película Lente De Câmera Brilho Compatível...,"R$ 17,00","1x de R$ 17,00"
9996,Kit Película Lente De Câmera Compatível Com Ip...,"R$ 20,00","1x de R$ 20,00"
9997,Smartphone Blade Celular Para Idoso 32gb Capa ...,"R$ 664,81","10x de R$ 69,97"
9998,Cabo Lightning Kaidi Kd-353a - Conexão Rápida ...,"R$ 57,15","2x de R$ 28,57"
9999,APPLE WATCH 10 42 JB AL,"R$ 5.399,10","10x de R$ 599,90"

In [23]:
print(repr(df['preco'].iloc[0]))

'R$\xa0149,99'

In [24]:
df['preco'] = df['preco'].str.replace('R$','',regex=False).astype(float)
df['preco'] = df['preco'].str.replace('R$\xa0','',regex=False).astype(float)

ValueError: could not convert string to float: '\xa0149,99'